@charset "UTF-8";
/*
* author: rovo98
* date : 2018/8/13
*/
/* styling containers */
.wrap {
    width: 1000px;
    height: 100%;
    margin: 20px auto;
    padding: 15px 40px;
    border: 1px solid rgb(133, 142, 134);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
    -moz-box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
    box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
}

.definition-tbl {
    width: 80%;
    height: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
}

.definition-tbl th {
    font-weight: bold;
    color: #fff;
    background-color: #323232;
}

table.definition-tbl,
.definition-tbl td {
    border: 1px solid #ccc;
}

.definition-tbl td {
    padding: 5px 10px;
}

.relative-box {
    position: relative;
    width: 60%;
    height: 250px;
    border: 1px solid #b1ccb4;
    -webkit-box-shadow: 0 5px 10px 0 #666;
    -moz-box-shadow: 0 5px 10px 0 #666;
    box-shadow: 0 5px 10px 0 #666;
}

/* /styling containers */
.wrap h1 {
    text-align: center;
    margin: 30px auto;
}

.wrap h2 {
    margin: 20px auto;
}

.wrap h3 {
    margin: 10px auto;
}

/* test styling rules*/
.test-display {
    width: 80%;
    margin: 20px auto;
    background: linear-gradient(to left bottom, #ffef68 0%, #fff 100%);
}

.test-display p {
    display: inline;
}

.test-display div {
    display: none;
}

.relative-positioning .pos_left {
    position: relative;
    left: -20px;
}

.relative-positioning .pos_right {
    position: relative;
    left: 20px;
}

.absolute-positioning .pos_abs {
    position: absolute;
    left: 100px;
    top: 150px;
}

.fixed-positioning .fixed-box {
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    /*background-color : rgba(200, 201, 202, 0.5);*/
    background: linear-gradient(to bottom left, #ffef68 0%, #eab554 100%);
    box-shadow: 0 5px 10px #666;
    -webkit-box-shadow: 0 5px 10px #666;
    -moz-box-shadow: 0 5px 10px #666;

}
/* /test styling rules*/
