@charset "utf-8";

/*
 * author: rovo98
 * date: 2018.8.4 14:36
 * */


body {
    background-image: url(../images/eg_bg_03.gif);
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-position: 50px 100px;
}

