@charset "UTF-8";

/*
* author: rovo98
* date : 2018/8/13
*/
.wrap {
    width: 1000px;
    height: 100%;
    margin: 20px auto;
    padding: 15px 40px;
    border: 1px solid rgb(133, 142, 134);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
    -moz-box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
    box-shadow: 0 5px 10px rgba(182, 180, 173, 0.99);
}

.definition-tbl {
    width: 80%;
    height: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    text-align: center;
}

.definition-tbl th {
    font-weight: bold;
    color: #fff;
    background-color: #323232;
}

table.definition-tbl,
.definition-tbl td {
    border: 1px solid #ccc;
}

.definition-tbl td {
    padding: 5px 10px;
}

.wrap h1 {
    text-align: center;
    margin: 30px auto;
}

.wrap h2 {
    margin: 20px auto;
}

.wrap h3 {
    margin: 10px auto;
}

/* test styling rules*/
.border-radius-ins {
    float: left;
    width: 200px;
    height: 150px;
    margin-left: 10px;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px;
    vertical-align: center;
    background: linear-gradient(to top left, #a3c26b 0%, #9cff4d 100%);
}

.border-radius-ins1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 50px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgba(201, 202, 203, 0.7);
}

.border-radius-ins1 span {
    display: block;
    margin-top: 85px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.4em;
    font-family: Consolas, sans-serif;
    color: #858e86;
}

.clear-float {
    clear: both;
}

.box-shadow-ins {
    width: 200px;
    height: 150px;
    background: linear-gradient(to top right, #ffa048 0%, #ffb615 100%);
    -webkit-box-shadow: 10px 10px 5px #666;
    -moz-box-shadow: 10px 10px 5px #666;
    box-shadow: 10px 10px 5px #666;
}

.border-image-ins {
    border: transparent;
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    -webkit-border-image: url(border.png) 30 30 round;
    -moz-border-image: url(border.png) 30 30 round;
    -o-border-image: url(border.png) 30 30 round;
    border-image: url(border.png) 30 30 stretch;
}

/* /test styling rules*/
