@charset "utf=8";

/*
 * author: rovo98
 * date: 2018.8.6
 * */

body {
    background-color: #ccc;
}

#container {
    max-width: 700px;
    margin: 80px auto;
    border: 1px solid #eee;
    padding: 20px 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px #333;
    -moz-box-shadow: 0 5px 10px #333;
    box-shadow: 0 5px 10px #333;
}

.sender-column {
    text-align: right;
}

p,
li,
dt,
dd {
    font-family: "Times New Roman", Arial, sans-serif;
}

#nav p.fp {
    margin-bottom: 10px;
}

#footer {
    margin-top: 60px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

p,
li,
dd,
dt,
address {
    line-height: 1.5;
}
